body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    color: #181818;
}

.container {
    max-width: 1586px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo img {
    margin-top: 70px;
    margin-bottom: 155px;
}

h1 {
    font-family: 'Abel', sans-serif;
    font-size: 90px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    width: 947px;
    margin: 0;
}

.description {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.66px;
    line-height: 135%;
    margin: 60px 0;
}

button {
    background: #00F;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 900;
    line-height: 160%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    padding: 15px 85px;
    width: 309px;
    border: none;
}

.statistics {
    display: flex;
    margin-top: 100px;
    margin-bottom: 215px;
    justify-content: space-around;
    align-items: baseline;
}

.statistics p span:last-child {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.numbers {
    color: #00F;
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    line-height: 135%;
    letter-spacing: 8px;
}

sup {
    font-size: 21px;
    letter-spacing: 2.1px;
    vertical-align: 60px;
    margin-left: -30px;
}

header {
    margin-bottom: 95px;
}

/* MAIN */

h2 {
    font-size: 80px;
    font-weight: 900;
    max-width: 850px;
    margin-top: 135px;
}

.photos {
    display: grid;
    grid-template-columns: 434px 580px 494px;
    grid-template-rows: 372px 518px 622px;
    column-gap: 24px;
    row-gap: 20px;
    justify-content: center
}

.photos img:nth-child(3) {
    grid-column-start: 3;
}

.photos img:nth-child(4) {
    grid-column: 1/3;
}

.photos img:nth-child(5) {
    align-self: end;
}

.photos img:last-child {
    grid-column: 2/4;
    justify-self: end;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    font-family: Montserrat;
    color: #9D9D9D;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.8px;
    width: 740px;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    padding: 15px;
    margin-bottom: 30px;
}

form p {
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0.7px;
    width: 559px;
    margin: 0 0 50px 0;
}

form a {
    font-weight: 700;
}

.submit {
    background: #00F;
    color: #FFF;
    font-size: 15px;
    font-weight: 900;
    line-height: 160%;
    text-transform: uppercase;
    padding: 25px 40px;
    width: 270px;
    margin-bottom: 100px;
}

footer {
    border-top: 1px solid #EFEFEF;
}

.footer {
    margin: 30px 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    color: #CECECE;
    font-weight: 700;
    line-height: 160%;
}


.soc a {
    text-decoration: none;
    color: #686868;
    font-size: 14px;
    letter-spacing: 1.4px;
    margin: 0 50px;
}

.tel {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}